<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HW_10_5_WPF_BASICTBOT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HW_10_5_WPF_BASICTBOT.Properties.Settings>
            <setting name="tokenTB" serializeAs="String">
                <value>(Токен вида 5512345678:AAnfgdasc023sdcz2004535345252542420)</value>
            </setting>
            <setting name="logFileNameTB" serializeAs="String">
                <value>LogFile.txt</value>
            </setting>
            <setting name="usersMessagesFileNameTB" serializeAs="String">
                <value>Messages.json</value>
            </setting>
        </HW_10_5_WPF_BASICTBOT.Properties.Settings>
    </userSettings>
</configuration>